.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  display: block;
}

.nav__bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.nav__item {
  display: inline-block; 
  padding: 0.5em 0.5em;
}

.nav__item a {
  color: white;
  text-decoration: none;
}

.nav__item a:visited {
  color: white;
}