.colorbox {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

.colorbox--large {
    height: 100px;
    width: 100px;
}

.colorbox:hover {
    transform: scale(2);
    transition: all 0.3s ease-in-out;
}

