/* DEFAULT: Extra small devices (portrait phones, less than 576px) */
.spectrum {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

.spectrum__title {
    margin: 0;
    padding: 0.5em;
    font-size: 1.75em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .spectrum {
        max-width: 500px;
        margin: 2em auto;
    }    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .spectrum {
        max-width: 700px;
    } 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .spectrum {
        max-width: 900px;
    } 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .spectrum {
        max-width: 1000px;
    } 
}