.tier {
    border: 1px solid black;
    width: 100%;
    margin: 1em 2em;
    max-width: 1326px;
}

.tier__collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tier__header {
    width: 100%;
    height: 50px;
}