.colorbox {
    height: 119px;
    width: 119px;
    border: 1px solid black;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

 .colorbox:hover {
    transform: scale(1.75);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.colorbox:hover .colorbox__select {
    display: block;
}

.colorbox__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.colorbox__button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 100%;
    cursor: pointer;
}

.colorbox__select {
    width: 100%;
    background-color: inherit;
    color: inherit;
    text-align: center;
    display: none;
    cursor: pointer;
}

.colorbox__option {
   padding: 0.25em;
}

 .colorbox__label {
     margin: 0.1em;
 }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.74); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.5); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.4); }